<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="exercise" lang='pug'>
   <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
    <p>VueJS is pretty cool - {{name}} ({{age}})</p>
    <!-- 2) Output your age, multiplied by 3 -->
    <p>{{ x3(age) }}</p>
    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
    <p>{{ Math.random() }}</p>
    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
    <div>
        <img style="width:100px;height:100px" v-bind:src='image'>
    </div>
    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
    <div>
        <input type="text" v-bind:value='name'>
    </div>
</div>

<script>
    new Vue({
        el: '#exercise',
        data: {
            name: 'David',
            age: 26,
            image: 'https://www.google.es/logos/doodles/2018/celebrating-mount-olympus-6110994337103872-l.png'
        },
        methods: {
            x3: function(number) {
                return number ? number * 3 : undefined;
            }
        }
    });
</script>